@using DutyFree.WebCore.Extension
@using DutyFree.Service.User
@using DutyFree.Service.Order
@using DutyFree.Entity.Order
@using DutyFree.Platform.Extension
@using DutyFree.Platform.Enum

@{
    var orderInfos = ViewData["OrderInfos"] as List<OrderInfo>;
    var type = (int)ViewData["Type"];
}

@section css {
    <link rel="stylesheet" href="~/css/personal/order.css" asp-append-version="true" />
}

@section scripts {
    @*<script type="text/javascript" src="~/js/personal/index.js" asp-append-version="true"></script>*@
}

<div class="margin-top"></div>

@if (orderInfos.IsEmpty())
{
    @Html.Partial("Empty")
}
else
{
    @foreach (var item in orderInfos)
    {
        @if (type == 0)
        {
            @Html.Partial("Order/User/Unpaid", item)
        }
        else if (type == 1)
        {
            @Html.Partial("Order/User/Confirming", item)
        }
        else if (type == 1)
        {
            @Html.Partial("Order/User/Ongoing", item)
        }
        else if (type == 2)
        {
            @Html.Partial("Order/User/Done", item)
        }
        <hr />
    }
}


